<link rel="stylesheet" href="{{ themePath }}/theme.css">
<link rel="stylesheet" href="{{ themePath }}/jquery-ui.css">
<link rel="stylesheet" href="{{ themePath }}/jquery-theme.css">
<style>
    :host {
      font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
      display: inline-block;
      width: 100%;
      contain: content;
      border: 1px solid #a6c9e2;
      border-radius: 5px;
    }
    :host([background]) {
      background: var(--background-color, #9E9E9E);
      border-radius: 10px;
      padding: 10px;
    }
    :host([disabled]) {
      opacity: 0.4;
    }
</style>

<div class="sk-sltabs-wrapper">
<div id="tabs" class="sk-sltabs-tabs">
<slot id="tabsSlot" name="title"></slot>
</div>
</div>
<div id="panels" class="sk-sltabs-panels">
<slot id="panelsSlot"></slot>
</div>
